<div class="w-64 h-screen bg-white border-r border-border flex flex-col">
  <div class="px-6 pt-6 pb-4">
    <h1 class="text-xl font-semibold text-primary">
      TaskFlowManager
    </h1>
  </div>
  <nav class="flex-1 px-4 space-y-2 text-sm">
    <a routerLink="/dashboard" routerLinkActive="bg-bg text-primary"
      class="flex items-center gap-3 px-4 py-2 rounded-lg text-text-gray hover:bg-bg transition">
      📊 Dashboard
    </a>
    <a routerLink="/tasks/create" routerLinkActive="bg-bg text-primary"
      class="flex items-center justify-between px-4 py-2 rounded-lg text-text-gray hover:bg-bg transition">
      <div class="flex items-center gap-3">
        📝 Task
      </div>
    </a>
    <a *ngIf="(user$ | async)?.role === 'ADMIN'" routerLink="/users" routerLinkActive="bg-bg text-primary"
      class="flex items-center gap-3 px-4 py-2 rounded-lg text-text-gray hover:bg-bg transition">
      👥 Users
    </a>
  </nav>

  <div class="border-t border-border px-6 py-4 flex items-center justify-between">
    <div class="flex items-center gap-3">
      <div class="w-9 h-9 rounded-full bg-primary text-white
               flex items-center justify-center text-sm font-semibold">

        {{ (user$ | async)?.email?.charAt(0) | uppercase }}

      </div>

      <div class="text-xs">
        <p class="font-medium text-text-dark">
          {{ (user$ | async)?.email }}
        </p>
        <p class="text-text-gray">
          {{ (user$ | async)?.role }}
        </p>
      </div>
    </div>
    <button (click)="logout()" class="text-text-gray hover:text-text-dark transition text-xs">
      Logout
    </button>
  </div>
</div>