<div class="max-w-lg mx-auto">

  <app-card>

    <h2 class="text-lg font-semibold text-text-dark mb-6">
      Create Task
    </h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

      <app-input
        label="Titulo"
        controlName="title">
      </app-input>

      <app-input
        label="Descripcion"
        controlName="description">
      </app-input>

      <div class="flex flex-col gap-1">
        <label class="text-sm text-text-gray">
          Estado
        </label>

        <select
          formControlName="status"
          class="px-3 py-2 rounded-lg border border-border">

          <option value="PENDING">Pendiente</option>
          <option value="IN_PROGRESS">En Proceso</option>
          <option value="COMPLETED">Completa</option>

        </select>
      </div>

      <app-button class="flex justify-center pt-2">
        {{ loading ? 'Guardando...' : 'Guardar tarea' }}
      </app-button>

    </form>

  </app-card>

</div>