<div class="max-w-lg mx-auto">

  <app-card>

    <h2 class="text-lg font-semibold text-text-dark mb-6">
      Create Task
    </h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

      <app-input
        label="Title"
        controlName="title">
      </app-input>

      <app-input
        label="Description"
        controlName="description">
      </app-input>

      <div class="flex flex-col gap-1">
        <label class="text-sm text-text-gray">
          Status
        </label>

        <select
          formControlName="status"
          class="px-3 py-2 rounded-lg border border-border">

          <option value="PENDING">Pending</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="COMPLETED">Completed</option>

        </select>
      </div>

      <app-button>
        {{ loading ? 'Saving...' : 'Save Task' }}
      </app-button>

    </form>

  </app-card>

</div>